/*****

Roberto - Personal Portfolio Template

author : Dragon-themes
 
****/

//////******

the content

01-global Style
02-load-wrapp
03-intro-sec
04-navbar
05-welcome-area
06-about-area
07-skills-area
08-experience-area 
09-services-area
10-testimonials
11-work-area
12-price-area 
13-offer-area 
14-blog-area
15-brands-area
16-contact-area
17-map
18-footer-area
19-scroll-top-btn

******//////

/*----------------------------------------------------
					01-global Style
----------------------------------------------------*/
*{
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box;
	text-decoration: none;
	outline: none !important;
}

body {
    font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

a,
a:hover{
	text-decoration: none;
}

a:focus{
	outline: none;
	text-decoration: none;
}

img{width: auto; max-width: 100%; height: auto;}

h1{font-size: 50px; line-height: 58px;}
h2{font-size: 40px; line-height: 45px;}
h3{font-size: 30px; line-height: 34px;}
h4{font-size: 24px; line-height: 27px;}
h5{font-size: 21px; line-height: 25px;}
h6{font-size: 18px; line-height: 21px;}

p{
	font-size: 15px; 
	line-height: 24px;
	font-weight: 300; 
	color: #666;
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

.title-h{
	text-align: center;
	font-size: 35px;
	line-height: 40px;
	font-weight: 600;
	margin-bottom: 15px;
}

.title-h .line{
	left: 50%;
	bottom: -6px;
	transform: translateX(-50%);
	width: 80px;
	height: 1px;
}

.title-p{
	text-align: center;
	margin: 0 23% 70px 23%;
    font-size: 15px;
	color: #666;
}

.flex-center{
	display: -webkit-box;   
    display: -ms-flexbox;   
    display: -webkit-flex;  
    display: flex;
	justify-content: center;
	align-items: center;
}

.flex-left{
	display: -webkit-box;   
    display: -ms-flexbox;   
    display: -webkit-flex;  
    display: flex;
	align-items: center;
}

.flex-bottom{
	display: -webkit-box;   
    display: -ms-flexbox;   
    display: -webkit-flex;  
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.img-responsive{
	width: auto;
	max-width: 100%;
	height: auto;
}

/*** position ***/
.p-relative{position: relative;}
.p-absolute{position: absolute;}
.left-0{left: 0;}
.top-0{top: 0;}

.image-back-right{
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover
}

.image-back-left{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.image-back-center{
	position: absolute;
	left: 33.333333%;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover
}

.text-box{
	padding: 80px 60px;
}

/*** padding ***/
.sec-padding{padding: 100px 0;}
.footer-padding{padding: 50px 0;}
.p-5px{padding: 5px;}
.p-10px{padding: 10px;}
.p-15px{padding: 15px;}
.p-20px{padding: 20px;}
.p-30px{padding: 30px;}
.p-40px{padding: 40px;}
.pl-30px{padding-left: 30px;}
.pl-90px{padding-left: 90px;}
.pt-150px{padding-top: 150px;}
.pb-120px{padding-bottom: 120px;}
.pb-150px{padding-bottom: 150px;}

/***** margin *****/

/* margin-top */
.mt-0px{margin-top: 0px;}
.mt-5px{margin-top: 5px;}
.mt-10px{margin-top: 10px;}
.mt-15px{margin-top: 15px;}
.mt-20px{margin-top: 20px;}
.mt-25px{margin-top: 25px;}
.mt-30px{margin-top: 30px;}
.mt-35px{margin-top: 35px;}
.mt-40px{margin-top: 40px;}
.mt-45px{margin-top: 45px;}

/* margin-bottom */
.mb-0px{margin-bottom: 0px !important;}
.mb-5px{margin-bottom: 5px;}
.mb-6px{margin-bottom: 6px;}
.mb-7px{margin-bottom: 7px;}
.mb-10px{margin-bottom: 10px;}
.mb-12px{margin-bottom: 12px;}
.mb-15px{margin-bottom: 15px;}
.mb-20px{margin-bottom: 20px;}
.mb-25px{margin-bottom: 25px;}
.mb-30px{margin-bottom: 30px;}
.mb-35px{margin-bottom: 35px;}
.mb-40px{margin-bottom: 40px;}
.mb-50px{margin-bottom: 50px;}
.mb-60px{margin-bottom: 60px;}
/* margin-right */
.mr-2px{margin-right: 2px;}
.mr-5px{margin-right: 5px;}
.mr-7px{margin-right: 7px;}
.mr-10px{margin-right: 10px;}
.mr-15px{margin-right: 15px;}
.mr-20px{margin-right: 20px;}

/* margin-left */
.ml-2px{margin-left: 2px;}
.ml-5px{margin-left: 5px;}
.ml-7px{margin-left: 7px;}
.ml-10px{margin-left: 10px;}
.ml-50px{margin-left: 50px;}

/***** font-weight *****/
.fw-100{font-weight: 100;}
.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}

/***** font-size *****/
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-25{font-size: 25px;}
.fs-30{font-size: 30px;}
.fs-35{font-size: 35px;}
.fs-40{font-size: 40px;}
.fs-45{font-size: 45px;}
.fs-50{font-size: 50px;}

.font-Poppins{font-family: 'Poppins', sans-serif}

/***** colors *****/
.color-333{color: #333;}
.color-333-hvr:hover{color: #333;}
.color-555{color: #555;}
.color-666{color: #666;}
.color-777{color: #777;}
.color-999{color: #999;}
.color-fff{color: #fff;}
.color-eee{color: #eee;}
.color-ddd{color: #ddd;}
.color-ccc{color: #ccc;}
.color-bbb{color: #bbb;}
.color-aaa{color: #aaa;}
.color-orange{color: #f2c514}
.color-orange-hvr:hover{color: #f2c514;}
.color-fff-hvr:hover{color: #fff;}
.color-gold{color:  #ecb312;}

/***** background-color *****/
.bg-fff{background-color: #fff;}
.bg-f6f6f6{background-color: #f6f6f6;}
.bg-f4f4f4{background-color: #f4f4f4;}
.bg-eee{background-color: #eee;}
.bg-222{background-color: #222;}
.bg-333{background-color: #333;}
.bg-orange{background-color: #f2c514;}
.bg-orange-hvr:hover{background-color: #f2c514;}
.bg-333-hvr:hover{background-color: #333;}
.bg-fff-hvr:hover{background-color: #fff;}

/***** overlay *****/
.overlay-bg-10{background-color: rgba(0,0,0,0.1);}
.overlay-bg-50{background-color: rgba(0,0,0,0.55);}
.overlay-bg-60{background-color: rgba(0,0,0,0.6);}
.overlay-bg-65{background-color: rgba(0,0,0,0.65);}
.overlay-bg-70{background-color: rgba(0,0,0,0.7);}
/* .overlay-bg-75{background-color: rgba(0,0,0,0.75);} */
.overlay-bg-75{background-color: #068094;}
.overlay-bg-80{background-color: rgba(0,0,0,0.80);}
.overlay-bg-85{background-color: rgba(0,0,0,0.85);}
.overlay-bg-90{background-color: rgba(0,0,0,0.90);}

/***** transition *****/
.transition-2{-webkit-transition: 0.2s ease-in-out; transition: 0.2s ease-in-out;}
.transition-3{-webkit-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;}
.transition-4{-webkit-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out;}
.transition-5{-webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out;}


/***** border-radius *****/
.radius-50{border-radius: 50%;}
.radius-5px{border-radius: 5px;}
.radius-25px{border-radius: 25px;}
.radius-50px{border-radius: 50px;}

.o-hidden{overflow: hidden;}
.f-right{float: right;}
.f-left{float: left;}
.width-100{width: 100% ;}
.lh-25px{line-height: 25px}
.opacity-0{opacity: 0;}
.d-in-block{display: inline-block;}
.z-index-1{z-index: 1;}
.z-index-3{z-index: 3;}

/***** buttons *****/
.main-btn{
	display: inline-block;
    text-decoration: none;
	border: none;
    border-radius: 0px;
    position: relative;
    font-size: 14px;
	word-spacing: 2px;
    font-weight: 400;
    transform: perspective(1px)translateX(0px);
    transition: all 0.2s ease 0s;
	overflow: hidden
}

.main-btn:before{
	content: "";
    background-color: #fff;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.main-btn.before-f6f6f6:before{
	background-color: #f6f6f6;
}

.main-btn:hover:before{transform: scaleX(1);}

/* btn-1 */
.btn-1{
    padding: 10px 26px;
	background-color: #f2c514;
	color: #fff;
}
.btn-1:hover{color: #333;}

.btn-1:hover:before{transform: scaleX(1);}

/* btn-2 */
.btn-2{
    padding: 10px 26px;
	background-color: transparent;
	color: #fff;
}
.btn-2:hover{color: #333;}

.btn-2:after{
    content: "";
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
	z-index: -2;
	border-radius: 0px;
	border: 2px solid rgba(255,255,255,0.7);
}

/* btn-3 */
.btn-3{
    padding: 9px 25px;
	background-color: #f2c514;
	color: #fff;
	border: 1px solid #f2c514;
}

.btn-3:hover{color: #f2c514;}

.btn-3.back-f6f6f6:before{background-color: #f6f6f6;}


@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
  }
}

.pattern-bottom{
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 110px;
	background-image: url(../images/pattern-bottom.png);
	background-size: cover;
}

@media (min-width:992px) and (max-width: 1199px){
	.pattern-bottom{height: 90px;}
}

@media (min-width: 768px) and (max-width: 991px){
	.pattern-bottom{height: 75px;}
}

@media (min-width: 577px) and (max-width: 767px){
	.pattern-bottom{height: 60px;}
}

@media (min-width: 420px) and (max-width: 576px){ 
	.pattern-bottom{height: 45px;}
}

@media (min-width: 350px) and (max-width: 419px){ 
	.pattern-bottom{height: 35px;}
}

@media (min-width: 285px) and (max-width: 349px){ 
	.pattern-bottom{height: 30px;}
}

@media (max-width: 284px) { 
	.pattern-bottom{height: 23px;}
}


.pattern-top{
	top: -2px;
	left: 0;
	width: 100%;
	height: 110px;
	background-image: url(../images/pattern-top.png);
	background-size: cover;
}

.pattern-top.gray{
	background-image: url(../images/gray-top.png);
}

@media (min-width:992px) and (max-width: 1199px){
	.pattern-top{height: 90px;}
}

@media (min-width: 768px) and (max-width: 991px){
	.pattern-top{height: 75px;}
}

@media (min-width: 577px) and (max-width: 767px){
	.pattern-top{height: 60px;}
}

@media (min-width: 420px) and (max-width: 576px){ 
	.pattern-top{height: 45px;}
}

@media (min-width: 350px) and (max-width: 419px){ 
	.pattern-top{height: 35px;}
}

@media (min-width: 285px) and (max-width: 349px){ 
	.pattern-top{height: 30px;}
}

@media (max-width: 284px) { 
	.pattern-top{height: 23px;}
}

/*----------------------------------------------------
					02-load-wrapp
----------------------------------------------------*/
.load-wrapp {
    position: fixed;
    width: 100%;
    height: 100%;
    background:#fff;
    color:#fff;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.load-wrapp .wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)translateY(-50%);
}

.load-wrapp .wrap ul.dots-box {
  position: relative;
  width: 80px;
  height: 80px;
  list-style: none;
}

.load-wrapp .wrap ul.dots-box li.dot {
  width: 100%;
  height: 100%;
  border-radius: 52px;
  top: 0;
  left: 0;
  z-index: 99;
  text-indent: -9999px;
  display: block;
  position: absolute;
  border: none;
}
.load-wrapp .wrap ul.dots-box li.dot span {
  background: #f2c514;
  bottom: 0px;
  left: 50%;
  margin-left: -2px;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.load-wrapp .wrap ul.dots-box li.dot {
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-name:orbit;
  animation-duration:4s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(2) {
  animation-delay:0.2s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(3) {
  animation-delay:0.4s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(4) {
  animation-delay:0.6s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(5) {
  animation-delay:0.8s;
}

@keyframes orbit {
  0% {
    transform:rotate(0deg);
    opacity: 1;
  }
  5% {
    transform:rotate(90deg);
    opacity: 1;
  }
  45% {
    transform:rotate(270deg);
    opacity: 1;
  }
  55% {
    transform:rotate(540deg);
    opacity: 1;
  }
  75% {
    transform:rotate(630deg);
    opacity: 1;
  }
  80% {
    transform:rotate(720deg);
    opacity: 0;
  }
  100% {
    transform:rotate(720deg);
    opacity: 0;
  }
}
/*----------------------------------------------------
					End load-wrapp
----------------------------------------------------*/

/*----------------------------------------------------
					03-intro-sec
----------------------------------------------------*/
.intro-sec .mb-25px .image-box .overlay-bg-75{
	top: 0;
	left: -100%;
	right: 0;
	bottom: 0;
	opacity: 0;
}

.intro-sec .mb-25px .image-box:hover .overlay-bg-75{
	left: 0;
	opacity: 1;
}

.intro-sec .mb-25px .image-box img{
	box-shadow: 0 3px 35px -10px #555;
}

.intro-sec .mb-25px .image-box:hover img{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
/*----------------------------------------------------
					End intro-sec
----------------------------------------------------*/

/*----------------------------------------------------
					04-navbar
----------------------------------------------------*/
.navbar{
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
	padding: 10px 0;
}

.navbar .navbar-nav .nav-link{
	font-size: 14px;
	color: #fff;
	padding: 20px;
	font-weight: 400;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
	color: #f2c514;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
	color: #fff;
}

.navbar .navbar-nav .nav-link.active{
	color: #f2c514;
}

.navbar-toggler:focus{
	outline: none;
}

.navbar .navbar-toggler .fa-bars{
	color: #fff
}

.navbar-colored{
    background-color: #fff;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.07);
    transition: all .45s ease;
}

.navbar-colored .navbar-brand{
	color: #333
}

.navbar .navbar-brand span{
	height: 8px;
	width: 8px;
}

.navbar-colored .navbar-nav .nav-link{
	color: #444;
	padding:  15px 20px;
}

.navbar-colored .navbar-nav .nav-link:hover,
.navbar-colored .navbar-nav .nav-link:focus{
	color: #333;
}

.navbar-colored .navbar-nav .nav-link.active{
	color: #f2c514;
}

.navbar-colored .navbar-toggler .fa-bars{
	color: #333;
}
/*----------------------------------------------------
					End navbar
----------------------------------------------------*/

/*----------------------------------------------------
					05-welcome-area
----------------------------------------------------*/
.welcome-area .clip{
	background-image: url(../images/main.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	-webkit-clip-path:polygon(50% 0, 100% 0, 100% 90%, 73% 100%, 0 90%, 0 0);
			clip-path:polygon(50% 0, 100% 0, 100% 90%, 73% 100%, 0 90%, 0 0);
}

.welcome-area .overlay-bg-75{
	height: 100vh;
}

.welcome-area .welcome-text p{
	margin: 0 52% 0 0;
}

.welcome-area.text-left .welcome-text p{
	margin: 0 45% 20px 0;
}

/**** welcome-area-2 for creative-2 demo ****/ 
.welcome-area-2{
	background-image: url(../images/main.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.welcome-area-2 .overlay-bg-75{
	height: 100vh;
}

.welcome-area-2 .welcome-text p{
	margin: 0 52% 0 0;
}

.welcome-area-2.text-left .welcome-text p{
	margin: 0 45% 20px 0;
}
/**** welcome-particles ****/ 
.welcome-particles{
	position: relative;
    height: 100vh;
    background-image: url('../images/main.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	background-color: rgba(0,0,0,0.75);
	background-blend-mode: overlay;
    overflow: hidden;
	-webkit-clip-path: none;
    clip-path: none;
}

.welcome-particles  .welcome-text{
	position: absolute;
	top: 50%;
	left: 8%;
	width: 90%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.welcome-particles .welcome-text p{
	margin: 0 54% 0 0;
}

/**** welcome-video ****/
.welcome-video,
.welcome-video .overlay-bg-50{
    height: 100vh;
}

.welcome-video .video-background{
    position: absolute;
    left: 0;
	top: 0;
	width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -100
}

.welcome-video .welcome-text p{
	margin: 0 52% 0 0;
}
/*----------------------------------------------------
					End welcome
----------------------------------------------------*/

/*----------------------------------------------------
					06-about-area
----------------------------------------------------*/
.about-area.clip{
    padding: 80px 0 150px 0;
	-webkit-clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
			clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
}

.about-area p.first-p{
	margin: 0 22%;
}

.about-area .mail:after{
	content: "";
	position: absolute;
	left: -100%;
	bottom: 0;
	height: 1px;
	width: 100%;
	background-color: #333;
	transition: all 0.3s ease-in-out;
}

.about-area .mail:hover:after{
	left: 0;
}
/*----------------------------------------------------
					End about-area
----------------------------------------------------*/
 
/*----------------------------------------------------
					07-skills-area
----------------------------------------------------*/
.skills-bar .skills-progress{
	height: 5px;
    width: 90%;
    position: relative;
}

.skills-bar .skills-progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.skills-bar .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    right: -15px;
    top: -25px;
    font-weight: 400;
    font-size: 14px;
	text-align: center;
}
/*----------------------------------------------------
					End skills-area
----------------------------------------------------*/

/*----------------------------------------------------
					08-experience-area
----------------------------------------------------*/
.experience-area{
	background-image: url(../images/m.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.experience-area .pl-30px .p-relative:after{
	content: "";
	position: absolute;
	left: -30px;
	top: 0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: rgba(242, 197, 20, 0.45);
	transition: all 0.35s ease-in-out;
}

.experience-area .pl-30px .p-relative:before{
	content: "";
	position: absolute;
	left: -24px;
	top: 6px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: rgba(242, 197, 20, 0.8);
	transition: all 0.35s ease-in-out;
}

.experience-area .pl-30px:hover .p-relative:after,
.experience-area .pl-30px:hover .p-relative:before{
	transform: scale(1.5);
}

/***** experience-area-2 for creative-demo *****/
.experience-area-2 .clip{
	background-image: url(../images/m.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	-webkit-clip-path: polygon(25% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
			clip-path: polygon(25% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	margin-top: -2px;
}

.experience-area-2 .clip .overlay-bg-80{
	padding: 150px 0;
}

.experience-area-2 .pl-30px .p-relative:after{
	content: "";
	position: absolute;
	left: -30px;
	top: 0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: rgba(242, 197, 20, 0.45);
	transition: all 0.35s ease-in-out;
}

.experience-area-2 .pl-30px .p-relative:before{
	content: "";
	position: absolute;
	left: -24px;
	top: 6px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: rgba(242, 197, 20, 0.8);
	transition: all 0.35s ease-in-out;
}

.experience-area-2 .pl-30px:hover .p-relative:after,
.experience-area-2 .pl-30px:hover .p-relative:before{
	transform: scale(1.5);
}
/*----------------------------------------------------
					End experience-area
----------------------------------------------------*/

/*----------------------------------------------------
					09-services-area
----------------------------------------------------*/
.services-area .mt-25px:before{
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(242, 197, 20);
	z-index: -1;
	transition: all 0.3s ease-in-out;
}

.services-area .mt-25px:hover:before{
	background-color: rgb(242, 197, 20);
	top: 0;
}

.services-area .mt-25px{
	padding: 70px 20px;	
}

.services-area .mt-25px:hover{
	background-color: transparent
}

.services-area .mt-25px:hover i,
.services-area .mt-25px:hover h4{
	color: #fff;
}

.services-area .mt-25px:hover p{
	color: #fff
}
/*----------------------------------------------------
					End services-area
----------------------------------------------------*/

/*----------------------------------------------------
					10-testimonials
----------------------------------------------------*/
.testimonials{
	background-image: url(../images/pexels-photo.jpg);
	background-position: center;
	background-attachment: fixed;
	background-attachment: fixed;
	background-size: cover;
}

.testimonials .single-review img{
	height: 100px;
	width: 100px;
}

.testimonials .single-review p{
	line-height: 1.5em;
	margin: 0 20%;
	font-style: italic
}

.testimonials .owl-theme .owl-nav{
	margin-top: 0;
}

.testimonials .owl-theme .owl-nav [class*=owl-]{
	font-size: 25px;
	background-color: transparent;
	color: #fff;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	position: absolute;
	top: 50%;
}

.testimonials .owl-theme .owl-nav [class*=owl-]:hover{
	color: #f2c514;
}

.testimonials .owl-carousel .owl-nav .owl-next{
	right: 0;
}

.testimonials .owl-carousel .owl-nav .owl-prev{
	left: 0;
}

.owl-theme .owl-dots{
	margin-top: 20px;
}

.owl-theme .owl-dots .owl-dot span{
	background-color: transparent;
	border: 1px solid #aaa;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
	background-color: #f2c514;
	border: 1px solid #f2c514;
}

/***** for creative-demo *****/
.testimonials.clip{
-webkit-clip-path: polygon(75% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
			clip-path: polygon(75% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.testimonials.clip .sec-padding{
	padding: 150px 0;
}
/*----------------------------------------------------
					End testimonials
----------------------------------------------------*/

/*----------------------------------------------------
					11-work-area
----------------------------------------------------*/
.work-area .filtering span {
	display: inline-block;
    color: #333;
    font-size: 14px;
    cursor: pointer;
	padding: 9px 22px;
}

.work-area .filtering .active {
    background-color: #f2c514;
    color: #fff;
}

.work-area .work-image img{
	width: 100%;
}

.work-area .overlay-bg{
	background-color: rgba(0,0,0,0.85);
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    -webkit-transform: translateX(-5px)translateY(5px);
            transform: translateX(-5px)translateY(5px);
}

.work-area .work-image:hover .overlay-bg{
    opacity: 1;
    -webkit-transform: translateX(0)translateY(0);
            transform: translateX(0)translateY(0);
}

.work-area .overlay-bg .fa-long-arrow-right{
	top: 10px;
	right: 10px;
	height: 45px;
	width: 45px;
	line-height: 45px;
	border: 1px solid #ccc;
}

.work-area .overlay-bg .fa-long-arrow-right:hover{
	border-color: #f2c514;
}

.work-area .work-image p{
	-webkit-transform: translateY(15px);
			transform: translateY(15px);
	-webkit-transition: transform 0.5s ease-in-out;
			transition: transform 0.5s ease-in-out;
}

.work-area .work-image h5 {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
	-webkit-transition: transform 0.5s ease-in-out;
			transition: transform 0.5s ease-in-out;
}

.work-area .work-image:hover h5,
.work-area .work-image:hover p{
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
/*----------------------------------------------------
					End work-area
----------------------------------------------------*/

/*----------------------------------------------------
					12-price-area
----------------------------------------------------*/
.price-area .table{
	padding: 80px 30px;
}

/***** for creative-demo *****/
.price-area.clip{
	padding: 150px 0;
	-webkit-clip-path: polygon(25% 8%, 100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
			clip-path: polygon(25% 8%, 100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
}
/*----------------------------------------------------
					End price-area
----------------------------------------------------*/
 

/*----------------------------------------------------
					13-offer-area
----------------------------------------------------*/
.offer-area{
	background-image: url(../images/offer.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.offer-area p{
	margin: 0 22%;
}

/***** for creative-demo *****/
.offer-area.clip{
	-webkit-clip-path: polygon(75% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
			clip-path: polygon(75% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.offer-area.clip .sec-padding{
	padding: 150px 0;
}
/*----------------------------------------------------
					End offer-area
----------------------------------------------------*/

/*----------------------------------------------------
					14-blog-area
----------------------------------------------------*/
.blog-area .blog-item:hover img{
	-webkit-transform: scale(1.05);
			transform: scale(1.05);
}

.blog-area .blog-item{
	box-shadow: 0 2px 35px -8px #ccc;
}

.blog-area .blog-item a.color-aaa:hover .fa{
	transform: translateX(10px)
}

.blog-area .blog-item span.tag{
	padding: 2px 7px;
	transform: translateY(-30px);
	display: inline-block
}
/*----------------------------------------------------
					End blog-area
----------------------------------------------------*/

/*----------------------------------------------------
					15-brands-area
----------------------------------------------------*/
.brands-area img{
	opacity: 1;
	max-width: 80%
}

.brands-area img:hover{
	transform: scale(1.1)
}

/***** for creative-demo *****/
.brands-area.clip{
	-webkit-clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
			clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}
/*----------------------------------------------------
					brands-area
----------------------------------------------------*/

/*----------------------------------------------------
					16-contact-area
----------------------------------------------------*/
.contact-area .address i{
	height: 60px;
	width: 60px;
	line-height: 60px;
	display: inline-block;
}

.contact-form {
    border-radius: 3px;
}

.form-group{
    margin-bottom: 0;
}

.form-control{
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 0px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    text-indent: 20px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 30px;
    font-weight: 300;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
}

.has-error .form-control,
.has-error .form-control:focus{
	box-shadow: none;
	outline: none;
}

.contact-form input[type='submit']{
	padding: 10px 25px;
	border: 1px solid #f2c514;
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit']:hover {
    background-color: transparent;
	border-color: #f2c514;
    outline: 0;
    box-shadow: none;
	cursor: pointer;
}
/*----------------------------------------------------
					End contact-area
----------------------------------------------------*/

/*----------------------------------------------------
					17-map
----------------------------------------------------*/
#map{
	height: 500px;
	width: 100%;
}

#map.clip{
	height: 500px;
	width: 100%;
	-webkit-clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
			clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}
/*----------------------------------------------------
					End map
----------------------------------------------------*/

/*----------------------------------------------------
					18-footer-area
----------------------------------------------------*/
.footer-area  img{
	width: auto;
	max-width: 100%;
}
/*----------------------------------------------------
					End footer-area
----------------------------------------------------*/

/*----------------------------------------------------
					19-scroll-top-btn
----------------------------------------------------*/
.scroll-top-btn .fa{
    width:40px;
    height:40px;
	line-height: 40px;
    z-index:9999;
    cursor:pointer;
	position:fixed;
    right:15px;
    bottom:10px;
	display: none
}
/*----------------------------------------------------
					End scroll-top-btn
----------------------------------------------------*/

.blog-intro{
	background-image: url(../images/offer.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 500px;
}

.blog-intro .overlay-bg-75{
	min-height: 500px;
}
/***** 20- single-blog page *****/
.blog-details .comment-box{
	padding: 25px 10px;
}

.blog-details .comment-box .p-absolute{
	top: 25px;
	left: 10px;
}

.blog-details .comment-box .p-absolute img{
	 width: 75px
}
 
.blog-details .form input[type='submit']{
	padding: 10px 25px;
	border: 1px solid #f2c514;
    outline: 0;
    box-shadow: none;
}

.blog-details .form input[type='submit']:hover {
    background-color: transparent;
	border-color: #f2c514;
    outline: 0;
    box-shadow: none;
	cursor: pointer;
}